/*
Title component style 
*/

.title-display{
    font-size: 7vh;
    text-align: center;
    text-transform: uppercase;
    color: #054A91;
}

/*
Input box component style
*/

.input-box-style{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: xx-large;
    background-color: #5C0029;
    border-radius: 2%;
    border-color: #000000;
    padding: 1%;
}

.input-box-holder{
    width: 80%;
    height: 100%;
}

/*
Word count display component style
*/

.word-count-display-style{
    font-size: 5vh;
    text-align: center;
    text-transform: uppercase;
    color: #054A91;
    padding-top: 2%;
}

/*
Word count holder component style
*/

.holder{
    width: 100%;
    height: 100%;
}

.input-box-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}